.App {
  text-align: center;
  background-color: rgb(250,250,250)  ;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  overflow-y: scroll;
  overflow-x: scroll;
}

::-webkit-scrollbar-track {
  background: #f2ebe5; 
}
 
::-webkit-scrollbar-thumb {
  background: #555; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* TEXT */

.Text {
}

.textDiv { 
}

#text1 {
  font-size:10vh;
}

#text2 {
  font-size:5vh;
}

