.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

/* SCROLL BAR */

::-webkit-scrollbar {
  width: 0.5vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 9999;
}

::-webkit-scrollbar-track {
  background: #f2ebe5; 
}
 
::-webkit-scrollbar-thumb {
  background: #555; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* LINKS */
/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: darkred;
}

/* selected link */
a:active {
  color: black;
}

/* TopbarMenu */

.Topbar {
  position: fixed;
  z-index: 999;
}

.buttonDiv {
  position: -webkit-sticky;
  position: sticky;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.902);
  width: 99.5vw;
}

.Topbar-btn {
  background: transparent;
  outline: none;
  border: none;
  z-index: 999;
}

.TopbarList {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  justify-content: center;
  column-count: 5;
  column-gap: 2vw;
}

.TopbarMenu {
  font-size:2vh;
  display: none;
  padding: 0;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  font-style: italic;
  background-color: rgba(255, 255, 255, 0.902);
  z-index: 999;
  width: 99.5vw;
}

.TopbarMenu .col {
  list-style-type: none;
  color: black;
}

.row #title {
}

#active {
  color: darkred !important;
}

.row #title:hover {
  cursor: pointer;
  color: darkred;
}

@media only screen and (max-width: 600px) {
  .TopbarMenu {
    font-size:2vh;
    display: none;
    padding: 0;
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.902);
    z-index: 9995;
    vertical-align: center;
    justify-content: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
  } 
}

/* COLLAGE */

.sections {
  font-size:2vh;
  position: flex;
  text-align: center;
  z-index: 999;
  padding-top:8%;
  padding-bottom: 5%;
}



.images {
  position: "flex";
}

.textConcept {
  padding: 5%;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
button:hover {
  color: darkred;
}
/* selected link */
button:active {
  color: darkred;
}

.overlap{
  position: relative;
}

.textCollage {
  position: relative;
}

.section1 {
  display: grid;
}

.section2 {
  display: none;
}

.carouselWrap {

}

.carouselCollage {
  width:35%;
  margin-left:auto;
  margin-right:auto;
}

/* TEXT */

#text1 {
  font-size:10vh;
}

#text2 {
  font-size:5vh;
}

#text3 {
  width: 200px;

  font-size:2vh;
}

#introText {
  font-size:2vh;
  z-index: 999;
  padding: 20%;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 600px) {
  #introImage {
    width: 80%;
  }
}

/* GALLERY */

.gallery-container{
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  max-height: 80%;
  max-width: 80%;
  pointer-events: none;
}
