.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

/* SCROLL BAR */

::-webkit-scrollbar {
  width: 1vh;
  height: 1vh;
  overflow-y: scroll;
  overflow-x: scroll;
}

::-webkit-scrollbar-track {
  background: #f2ebe5; 
}
 
::-webkit-scrollbar-thumb {
  background: #555; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* LINKS */
/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: darkred;
}

/* selected link */
a:active {
  color: black;
}

/* TopbarMenu */

.Topbar {
  position: fixed;
  z-index: 9999;
}

.Topbar-btn {
  display: block;
  background: transparent;
  mix-blend-mode: difference;
  outline: none;
  border: none;
}

.TopbarMenu {
  font-size:2vh;
  display: none;
  padding: 0;
  width: 99vw;
  border: 5px solid black;
  background-color: rgba(255, 255, 255, 0.902);
}

.TopbarMenu .row {
  display: flex;
  list-style-type: none;
  color: black;
  align-items: center;
}

.row #title {
}

#active {
  color: darkred !important;
}

.row #title:hover {
  cursor: pointer;
  color: darkred;
}

/* COLLAGE */

.sections {
  font-size:2vh;
  position: fixed;
  left: 20%;
  margin-top: 10%;
  text-align: left;
  z-index: 999;
}

.images {
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
button:hover {
  color: darkred;
}
/* selected link */
button:active {
  color: darkred;
}

.overlap{
  position: relative;
}

.textCollage {
  position: relative;
}

.section1 {
  display: none;
}

.section2 {
  display: none;
}

/* TEXT */

#text1 {
  font-size:10vh;
}

#text2 {
  font-size:5vh;
}

#text3 {
  width: 200px;
  font-size:2vh;
}

#introText {
  font-size:2vh;
  position: absolute;
  z-index: 999;
  left: 60%;
  margin-top: 20%;
  padding: 1%;
  text-align: left;
  background-color: rgba(255, 255, 255, 1);
}

#introImage {
  position: absolute;
  left: 20%;
  margin-top: 20%;
}
